# Data Valuation experiments

In [1]:
import opendataval
from opendataval.experiment import ExperimentMediator
from opendataval.dataval import DataOob
from opendataval.experiment import discover_corrupted_sample, noisy_detection

/Users/wepperso/miniconda3/envs/data-valuation/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

[KeOps] Warning : Cuda libraries were not detected on the system ; using cpu only mode

In [2]:
from opendataval.dataval import LavaEvaluator

In [3]:
exper_med = ExperimentMediator.model_factory_setup(
    dataset_name="iris",
    force_download=False,
    train_count=50,
    valid_count=50,
    test_count=50,
    model_name="ClassifierMLP",
    train_kwargs={"epochs": 5, "batch_size": 20},
)
list_of_data_evaluators = [DataOob(), LavaEvaluator()]  # Define evaluators here
eval_med = exper_med.compute_data_values(list_of_data_evaluators)

Base line model metric_name=None: perf=0.7200000286102295

100%|██████████| 1000/1000 [00:20<00:00, 49.52it/s]

Elapsed time DataOob(): 0:00:20.232496

Elapsed time LavaEvaluator(): 0:00:00.059233

In [12]:
eval_med.data_evaluators[1]

LavaEvaluator()

In [14]:
# dir(eval_med)

eval_med.data_evaluators[1].evaluate_data_values()

array([ 0.00178608, -0.36993575,  0.41118464,  0.91004014,  1.0497376 ,
       -0.6074105 , -0.22826576, -0.7749545 , -0.3584718 , -0.40745372,
        1.0059164 ,  0.9994163 ,  0.94270694, -0.37196338,  1.0250545 ,
        1.0015295 , -0.04485211, -0.07576564,  0.5289267 , -0.04297796,
       -0.21570796,  0.03471473,  1.0409892 , -0.4434923 , -0.22245353,
       -0.7434915 , -0.57483166, -0.7602597 , -0.8902864 , -0.28368092,
       -0.1855979 , -0.59007496,  0.9598108 , -0.99189585,  1.0058463 ,
        0.00851887, -0.41508216, -0.78080934,  0.86864686, -0.505273  ,
        0.07293239, -0.77520114,  0.02840191,  1.05374   , -0.6787625 ,
       -0.6215208 , -0.39144045, -0.10503185,  0.11736715,  0.3896793 ],
      dtype=float32)

In [15]:
import pandas as pd

df = pd.read_csv("../datasets/processed/vast2021/vast2021.csv")

In [16]:
df

,type,date(yyyyMMddHHmmss),author,message,latitude,longitude,location,date,message_text_length,message_num_words,message_max_word_length,message_avg_word_length,message_perc_special_chars,message_dist_from_mean_embed_all-mpnet-base-v2,message_outlier_score_ECOD_all-mpnet-base-v2,message_outlier_score_IForest_all-mpnet-base-v2
0,mbdata,20140123170000,POK,Follow us @POK-Kronos,NaN,NaN,NaN,2014-01-23 17:00:00,21,3,11,6.333333,0.095238,0.483796,1323.086876,-0.011900
1,mbdata,20140123170000,maha_Homeland,Don't miss a moment! Follow our live coverage...,NaN,NaN,NaN,2014-01-23 17:00:00,76,15,8,4.066667,0.039474,0.480657,1305.140758,-0.035877
2,mbdata,20140123170000,Viktor-E,Come join us in the Park! Music tonight at Abi...,NaN,NaN,NaN,2014-01-23 17:00:00,59,12,7,4.000000,0.033898,0.244943,1450.367979,-0.011328
3,mbdata,20140123170000,KronosStar,POK rally to start in Abila City Park. POK lea...,NaN,NaN,NaN,2014-01-23 17:00:00,98,18,11,4.500000,0.030612,0.590631,1224.604369,-0.034071
4,mbdata,20140123170000,AbilaPost,POK rally set to take place in Abila City Park...,NaN,NaN,NaN,2014-01-23 17:00:00,114,21,10,4.476190,0.017544,0.423691,1334.189955,0.000722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4058,mbdata,20140123213310,plasticParts,RT @AbilaPost unknown explosion heard from the...,NaN,NaN,NaN,2014-01-23 21:33:10,73,9,15,7.222222,0.041096,0.618477,1203.995495,-0.055174
4059,mbdata,20140123213345,klingon4real,RT @CentralBulletin explosion heard at dancing...,NaN,NaN,NaN,2014-01-23 21:33:45,88,10,16,7.900000,0.034091,0.590422,1192.543079,-0.035679
4060,mbdata,20140123213400,lindyT,RT @KronosStar There has been an explosion fro...,NaN,NaN,NaN,2014-01-23 21:34:00,147,19,19,6.736842,0.040816,0.697760,1148.108882,-0.042497
4061,mbdata,20140123213400,dolls4sale,RT @redisrad What was that? #boom,NaN,NaN,NaN,2014-01-23 21:34:00,33,6,9,4.666667,0.090909,0.534251,1264.899944,-0.046075
4062,mbdata,20140123213445,worldWatcher,RT @CentralBulletin explosion heard at dancing...,NaN,NaN,NaN,2014-01-23 21:34:45,88,10,16,7.900000,0.034091,0.590422,1192.543079,-0.035679

In [17]:
import torch

# [4063, 768] dim
message_embeddings = torch.load(
    "../datasets/processed/embedding_cache/DATA_vast2021COL_messageMODEL_all-mpnet-base-v2.pt"
)

In [19]:
message_embeddings.shape

torch.Size([4063, 768])

TODO: I think it is not possible to use the data valuation algorithms without a class label. So for something like the twitter data I need a class label for this to be useful

In [ ]:
# from opendataval.dataval.ame import AME

# dataval = (
#     AME(num_models=8000)
#     .train(fetcher=fetcher, pred_model=model, metric=metric)
# )

# data_values = dataval.data_values  # Cached values
# data_values = dataval.evaluate_data_values()  # Recomputed values

# BBC classification data

In [90]:
from opendataval.dataloader import DataFetcher

# DataFetcher.datasets_available()

In [34]:
# dataset names
# 'bbc',
# 'bbc-embeddings'
from opendataval.dataloader import DataFetcher

fetcher = DataFetcher(dataset_name="bbc-embeddings")

Downloading:: 618it [00:00, 5570.32it/s]
tokenizer_config.json: 100%|██████████| 28.0/28.0 [00:00<00:00, 55.9kB/s]
vocab.txt: 100%|██████████| 232k/232k [00:00<00:00, 6.98MB/s]
tokenizer.json: 100%|██████████| 466k/466k [00:00<00:00, 18.1MB/s]
config.json: 100%|██████████| 483/483 [00:00<00:00, 1.16MB/s]
model.safetensors: 100%|██████████| 268M/268M [00:11<00:00, 23.6MB/s]
18it [00:46,  2.60s/it]

In [36]:
bbc_raw = pd.read_csv("./data_files/bbc-embeddings/bbc-text.csv")
bbc_raw

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [46]:
train_count = 1558  # .7
valid_count = 445  # .2
test_count = 222  # .1

split_fetcher = fetcher.split_dataset_by_count(train_count, valid_count, test_count)
# split_fetcher = fetcher.split_dataset_by_prop(.7, .2, .1)

Train base model

In [58]:
from opendataval.model import LogisticRegression
from opendataval.metrics import Metrics


model = LogisticRegression(
    *split_fetcher.covar_dim,  # input size
    *split_fetcher.label_dim,  # number of classes
)

# Prints base line performance
model = model.clone()
x_train, y_train, x_val, y_val, x_test, y_test = split_fetcher.datapoints

model.fit(
    x_train,
    y_train,
)

metric = Metrics.ACCURACY

perf = metric(y_test, model.predict(x_test))
print(f"Base line model accuracy= {perf=}")

Base line model accuracy= perf=0.977477490901947

In [59]:
from opendataval.dataval import DataOob, LavaEvaluator

In [60]:
dataval_lava = LavaEvaluator().train(
    fetcher=split_fetcher, pred_model=model, metric=metric
)

# data_values = dataval_oob.data_values  # Cached values
# data_values = dataval_oob.evaluate_data_values()  # Recomputed values

In [63]:
# took 10 min to get through 12/1000 runs so very slow, roughly predicted 15.5 hours to run

# dataval_oob = DataOob(num_models=1000).train(
#     fetcher=split_fetcher, pred_model=model, metric=metric
# )

In [65]:
data_values = dataval_lava.evaluate_data_values()

In [87]:
train_data = bbc_raw.iloc[split_fetcher.train_indices]
train_data["lava_value"] = data_values

/var/folders/zg/pzhsf9sj45qcbpm46g7m_gf80000gp/T/ipykernel_85902/1396603433.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data["lava_value"] = data_values

In [92]:
train_data.to_parquet("bbc_with_lava.parquet")

In [93]:
tdp = pd.read_parquet("bbc_with_lava.parquet")

In [95]:
train_data

,category,text,lava_value
960,business,fed warns of more us rate rises the us looks s...,0.120329
2062,politics,will the budget bring out smiling voters as t...,3.061174
1186,sport,santini resigns as spurs manager tottenham man...,0.803217
1548,entertainment,usher leads soul train shortlist chart-topping...,-0.150380
944,sport,mourinho expects fight to finish chelsea manag...,0.802230
...,...,...,...
1711,sport,souness backs smith for scotland graeme sounes...,1.437672
1749,sport,clijsters hope on aussie open kim clijsters ha...,-0.156982
508,tech,when invention turns to innovation it is unlik...,0.116371
1317,politics,labour s four little words labour has unveiled...,-0.263041
2113,tech,gadget show heralds mp3 christmas partners of ...,-1.877822

In [96]:
train_data

,category,text,lava_value
960,business,fed warns of more us rate rises the us looks s...,0.120329
2062,politics,will the budget bring out smiling voters as t...,3.061174
1186,sport,santini resigns as spurs manager tottenham man...,0.803217
1548,entertainment,usher leads soul train shortlist chart-topping...,-0.150380
944,sport,mourinho expects fight to finish chelsea manag...,0.802230
...,...,...,...
1711,sport,souness backs smith for scotland graeme sounes...,1.437672
1749,sport,clijsters hope on aussie open kim clijsters ha...,-0.156982
508,tech,when invention turns to innovation it is unlik...,0.116371
1317,politics,labour s four little words labour has unveiled...,-0.263041
2113,tech,gadget show heralds mp3 christmas partners of ...,-1.877822