In [1]:
import pandas as pd

In [2]:
# dfs1 = pd.read_csv( "../datasets/local/vast-challenge-2021-mc3/csv-1700-1830.csv", encoding="latin1")
# dfs2 = pd.read_csv( "../datasets/local/vast-challenge-2021-mc3/csv-1831-2000.csv", encoding="latin1")
# dfs3 = pd.read_csv("../datasets/local/vast-challenge-2021-mc3/csv-2001-2131.csv", encoding="latin1")
# df_all = pd.concat([dfs1, dfs2, dfs3])

df_all = pd.read_csv("../datasets/local/vast-challenge-2021-mc3/all_tweets.csv")

In [3]:
df_all

,type,date(yyyyMMddHHmmss),author,message,latitude,longitude,location,date
0,mbdata,20140123170000,POK,Follow us @POK-Kronos,NaN,NaN,NaN,2014-01-23 17:00:00
1,mbdata,20140123170000,maha_Homeland,Don't miss a moment! Follow our live coverage...,NaN,NaN,NaN,2014-01-23 17:00:00
2,mbdata,20140123170000,Viktor-E,Come join us in the Park! Music tonight at Abi...,NaN,NaN,NaN,2014-01-23 17:00:00
3,mbdata,20140123170000,KronosStar,POK rally to start in Abila City Park. POK lea...,NaN,NaN,NaN,2014-01-23 17:00:00
4,mbdata,20140123170000,AbilaPost,POK rally set to take place in Abila City Park...,NaN,NaN,NaN,2014-01-23 17:00:00
...,...,...,...,...,...,...,...,...
4058,mbdata,20140123213310,plasticParts,RT @AbilaPost unknown explosion heard from the...,NaN,NaN,NaN,2014-01-23 21:33:10
4059,mbdata,20140123213345,klingon4real,RT @CentralBulletin explosion heard at dancing...,NaN,NaN,NaN,2014-01-23 21:33:45
4060,mbdata,20140123213400,lindyT,RT @KronosStar There has been an explosion fro...,NaN,NaN,NaN,2014-01-23 21:34:00
4061,mbdata,20140123213400,dolls4sale,RT @redisrad What was that? #boom,NaN,NaN,NaN,2014-01-23 21:34:00
4062,mbdata,20140123213445,worldWatcher,RT @CentralBulletin explosion heard at dancing...,NaN,NaN,NaN,2014-01-23 21:34:45

In [4]:
# import textclean

# df_all

# data_configs = [
#     {
#         "data": df_all,
#         "name": "tweets",
#         "text_columns": ["message"],
#     },
# ]

# model_names = [
#     "all-mpnet-base-v2",  # best performing on leaderboard
#     # "all-MiniLM-L6-v2",  # smaller and faster
#     # "distiluse-base-multilingual-cased-v1",  # for multilingual use
# ]

# results = {}

# for c in data_configs:
#     print("#######", c["name"])
#     m = textclean.TextCleaner(c["data"], c["text_columns"], model_names)
#     data_res = m.process()
#     results[c["name"]] = data_res

In [5]:
# import json

# print(json.dumps(col_meta, indent=4))

In [9]:
df.isnull().sum() / df.shape[0]

type                                               0.000000
date(yyyyMMddHHmmss)                               0.000000
author                                             0.047010
message                                            0.000000
latitude                                           0.963820
longitude                                          0.963820
location                                           0.956682
date                                               0.000000
message_text_length                                0.000000
message_num_words                                  0.000000
message_max_word_length                            0.000000
message_avg_word_length                            0.000000
message_perc_special_chars                         0.000000
message_dist_from_mean_embed_all-mpnet-base-v2     0.000000
message_outlier_score_ECOD_all-mpnet-base-v2       0.000000
message_outlier_score_IForest_all-mpnet-base-v2    0.000000
dtype: float64

In [10]:
df.to_csv("../datasets/processed/vast2021/vast2021.csv", index=False)

df["date"] = pd.to_datetime(df["date"], infer_datetime_format=True)
df.to_parquet("../datasets/processed/vast2021/vast2021.parquet")

/var/folders/zg/pzhsf9sj45qcbpm46g7m_gf80000gp/T/ipykernel_4908/1079249682.py:3: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["date"] = pd.to_datetime(df["date"], infer_datetime_format=True)

# Analysis

In [18]:
df_all = df_all.drop(columns=["date(yyyyMMddHHmmss)"])

df_all["is_rt"] = df_all.message.str.startswith("RT")

In [21]:
df_all

,type,author,message,latitude,longitude,location,date,is_rt
0,mbdata,POK,Follow us @POK-Kronos,NaN,NaN,NaN,2014-01-23 17:00:00,False
1,mbdata,maha_Homeland,Don't miss a moment! Follow our live coverage...,NaN,NaN,NaN,2014-01-23 17:00:00,False
2,mbdata,Viktor-E,Come join us in the Park! Music tonight at Abi...,NaN,NaN,NaN,2014-01-23 17:00:00,False
3,mbdata,KronosStar,POK rally to start in Abila City Park. POK lea...,NaN,NaN,NaN,2014-01-23 17:00:00,False
4,mbdata,AbilaPost,POK rally set to take place in Abila City Park...,NaN,NaN,NaN,2014-01-23 17:00:00,False
...,...,...,...,...,...,...,...,...
4058,mbdata,plasticParts,RT @AbilaPost unknown explosion heard from the...,NaN,NaN,NaN,2014-01-23 21:33:10,True
4059,mbdata,klingon4real,RT @CentralBulletin explosion heard at dancing...,NaN,NaN,NaN,2014-01-23 21:33:45,True
4060,mbdata,lindyT,RT @KronosStar There has been an explosion fro...,NaN,NaN,NaN,2014-01-23 21:34:00,True
4061,mbdata,dolls4sale,RT @redisrad What was that? #boom,NaN,NaN,NaN,2014-01-23 21:34:00,True
4062,mbdata,worldWatcher,RT @CentralBulletin explosion heard at dancing...,NaN,NaN,NaN,2014-01-23 21:34:45,True

In [56]:
grouped = (
    df_all.groupby("author")
    .agg({"is_rt": ["sum", "size"]})
    .sort_values(by=("is_rt", "sum"), ascending=False)
)
grouped.columns = ["_".join(col) for col in grouped.columns.values]
grouped = grouped.reset_index()

In [58]:
grouped["fraction_rt"] = grouped["is_rt_sum"] / grouped["is_rt_size"]

In [60]:
grouped.sort_values(by="fraction_rt", ascending=False)

              author  is_rt_sum  is_rt_size  fraction_rt
0         BlueVelvet         37          37          1.0
21      dragonRider1         24          24          1.0
23      plasticParts         23          23          1.0
24       microBanana         23          23          1.0
25             pinky         23          23          1.0
..               ...        ...         ...          ...
72          pumpitup          0           1          0.0
71     maha_Homeland          0          25          0.0
70   reggierockin776          0          15          0.0
69         soulofShi          0           2          0.0
153       junkman995          0          10          0.0

[154 rows x 4 columns]

In [61]:
df_all[df_all.author == "dragonRider1"]

,type,author,message,latitude,longitude,location,date,is_rt
27,mbdata,dragonRider1,"RT @MindOfKronos Ugh, these POKers are anooyin...",NaN,NaN,NaN,2014-01-23 17:02:00,True
211,mbdata,dragonRider1,RT @AbilaPost Special guest Dr. Audrey McConne...,NaN,NaN,NaN,2014-01-23 17:16:01,True
219,mbdata,dragonRider1,RT @choconibbs POK trying to give an aura of c...,NaN,NaN,NaN,2014-01-23 17:17:01,True
427,mbdata,dragonRider1,RT @CentralBulletin estimates of POK rally has...,NaN,NaN,NaN,2014-01-23 17:28:42,True
849,mbdata,dragonRider1,RT @POK Prof De Stefano concludes his remarksa...,NaN,NaN,NaN,2014-01-23 18:11:27,True
1256,mbdata,dragonRider1,RT @HomelandIlluminations Building fire at Ach...,NaN,NaN,NaN,2014-01-23 18:46:00,True
1331,mbdata,dragonRider1,RT @KronosStar Abila Police Department has sen...,NaN,NaN,NaN,2014-01-23 18:47:22,True
1554,mbdata,dragonRider1,RT @HomelandIlluminations Ambulance arrived - ...,NaN,NaN,NaN,2014-01-23 18:57:01,True
1859,mbdata,dragonRider1,RT @InternationalNews Fire continues at Dancin...,NaN,NaN,NaN,2014-01-23 19:18:00,True
1904,mbdata,dragonRider1,RT @KronosStar An additional police unit has a...,NaN,NaN,NaN,2014-01-23 19:20:07,True
1980,mbdata,dragonRider1,RT @AbilaPoliceDepartment Abila Police Departm...,NaN,NaN,NaN,2014-01-23 19:24:00,True
2088,mbdata,dragonRider1,RT @InternationalNews Neighborhood evacuations...,NaN,NaN,NaN,2014-01-23 19:30:00,True
2224,mbdata,dragonRider1,RT @KronosStar Abila police are in pursuit of ...,NaN,NaN,NaN,2014-01-23 19:40:00,True
2656,mbdata,dragonRider1,RT @roger_roger I think we're stuck,NaN,NaN,NaN,2014-01-23 19:49:21,True
2663,mbdata,dragonRider1,RT @CentralBulletin Additional police units ha...,NaN,NaN,NaN,2014-01-23 19:49:41,True
2692,mbdata,dragonRider1,RT @AbilaPost Ambulance has arrived for the wo...,NaN,NaN,NaN,2014-01-23 19:51:41,True
2785,mbdata,dragonRider1,RT @prettyRain says we haev to stay here,NaN,NaN,NaN,2014-01-23 19:58:00,True
2984,mbdata,dragonRider1,RT @sofitees #APD is evacuating us #standoff,NaN,NaN,NaN,2014-01-23 20:09:00,True
3426,mbdata,dragonRider1,RT @NewsOnlineToday Abila fire is under contro...,NaN,NaN,NaN,2014-01-23 20:34:52,True
3481,mbdata,dragonRider1,RT @truccotrucco why is this taking so long? i...,NaN,NaN,NaN,2014-01-23 20:38:02,True
3643,mbdata,dragonRider1,RT @truccotrucco poked my head up looks like n...,NaN,NaN,NaN,2014-01-23 20:54:00,True
3736,mbdata,dragonRider1,RT @NewsOnlineToday Abila fire flares up. top ...,NaN,NaN,NaN,2014-01-23 21:04:00,True
3746,mbdata,dragonRider1,RT @prettyRain please let me go home,NaN,NaN,NaN,2014-01-23 21:05:00,True
3987,mbdata,dragonRider1,RT @FriendsOfKronos one male one female terror...,NaN,NaN,NaN,2014-01-23 21:25:11,True

In [11]:
df_all.iloc[203].message

'Do you have a natural garden?:  SOW.kronos/greengardens'

In [69]:
retweets = df_all[df_all.is_rt == True]

retweets["message"].str.slice(3)

17      @AbilaPost POK rally set to take place in Abil...
25      @AbilaPost POK rally set to take place in Abil...
26      @AbilaPost POK rally set to take place in Abil...
27      @MindOfKronos Ugh, these POKers are anooying! ...
39      @AbilaPost POK rally set to take place in Abil...
                              ...
4058    @AbilaPost unknown explosion heard from the @d...
4059    @CentralBulletin explosion heard at dancing do...
4060    @KronosStar There has been an explosion from i...
4061                       @redisrad What was that? #boom
4062    @CentralBulletin explosion heard at dancing do...
Name: message, Length: 1000, dtype: object

In [68]:
df_all.where(df_all.is_rt == True)["message"].str.slice(3)

0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
                              ...
4058    @AbilaPost unknown explosion heard from the @d...
4059    @CentralBulletin explosion heard at dancing do...
4060    @KronosStar There has been an explosion from i...
4061                       @redisrad What was that? #boom
4062    @CentralBulletin explosion heard at dancing do...
Name: message, Length: 4063, dtype: object

In [100]:
import re


def extract_retweet_info(message):
    retweet_pattern = re.compile(r"^RT @(\w+) (.+)$")
    match = retweet_pattern.match(message)

    if match:
        original_author = match.group(1)
        original_message = match.group(2)
        return original_author, original_message

    return None, None


# Example usage:
tweet = "RT @original_author This is the original message"
r = extract_retweet_info(tweet)

print("R: ", r)

R:  ('original_author', 'This is the original message')

In [101]:
message_rr = df_all["message"].apply(extract_retweet_info)

result_df = pd.DataFrame(message_rr.tolist(), columns=["og_author", "og_message"])

In [102]:
result_df

            og_author                                         og_message
0                None                                               None
1                None                                               None
2                None                                               None
3                None                                               None
4                None                                               None
...               ...                                                ...
4058        AbilaPost  unknown explosion heard from the @dancingdolph...
4059  CentralBulletin  explosion heard at dancing dolphin apartment #...
4060       KronosStar  There has been an explosion from inside the ap...
4061         redisrad                               What was that? #boom
4062  CentralBulletin  explosion heard at dancing dolphin apartment #...

[4063 rows x 2 columns]

In [105]:
df_all = df_all.drop(columns=["og_author", "og_message"])

In [106]:
df_all = df_all.join(result_df)

In [108]:
df_all

,type,author,message,latitude,longitude,location,date,is_rt,og_author,og_message
0,mbdata,POK,Follow us @POK-Kronos,NaN,NaN,NaN,2014-01-23 17:00:00,False,None,None
1,mbdata,maha_Homeland,Don't miss a moment! Follow our live coverage...,NaN,NaN,NaN,2014-01-23 17:00:00,False,None,None
2,mbdata,Viktor-E,Come join us in the Park! Music tonight at Abi...,NaN,NaN,NaN,2014-01-23 17:00:00,False,None,None
3,mbdata,KronosStar,POK rally to start in Abila City Park. POK lea...,NaN,NaN,NaN,2014-01-23 17:00:00,False,None,None
4,mbdata,AbilaPost,POK rally set to take place in Abila City Park...,NaN,NaN,NaN,2014-01-23 17:00:00,False,None,None
...,...,...,...,...,...,...,...,...,...,...
4058,mbdata,plasticParts,RT @AbilaPost unknown explosion heard from the...,NaN,NaN,NaN,2014-01-23 21:33:10,True,AbilaPost,unknown explosion heard from the @dancingdolph...
4059,mbdata,klingon4real,RT @CentralBulletin explosion heard at dancing...,NaN,NaN,NaN,2014-01-23 21:33:45,True,CentralBulletin,explosion heard at dancing dolphin apartment #...
4060,mbdata,lindyT,RT @KronosStar There has been an explosion fro...,NaN,NaN,NaN,2014-01-23 21:34:00,True,KronosStar,There has been an explosion from inside the ap...
4061,mbdata,dolls4sale,RT @redisrad What was that? #boom,NaN,NaN,NaN,2014-01-23 21:34:00,True,redisrad,What was that? #boom
4062,mbdata,worldWatcher,RT @CentralBulletin explosion heard at dancing...,NaN,NaN,NaN,2014-01-23 21:34:45,True,CentralBulletin,explosion heard at dancing dolphin apartment #...

In [113]:
df_all.groupby("og_message").size().sort_values(ascending=False)

og_message
Special guest Dr. Audrey McConnel Newman will be speaking along with Lucio Jakab and Professor Lorenzo Di Stefano Viktor-E will be providing music #AbilaPost    8
Dr Audrey McConnell Newman begins her remarks #POKrally #AbilaPost                                                                                               8
POK rally is peaceful so far but tense with a strong police presence #POKrally #AbilaPost                                                                        8
POK rally expected to draw in excess of 1000 people #AbilaPost                                                                                                   8
SWAT team appears to have taken command                                                                                                                          8
                                                                                                                                                                ..
MOAR FIRE! Really, thatz it?? pahetic                                                                                                                            1
Lucio quotes Albert Einstein to look into nature and you will understand everything better                                                                       1
Lucio Jakab tells it like it is #POK #SOW                                                                                                                        1
Lovely words - ugly person #POKRally                                                                                                                             1
work from home & make money hand over fist #POK                                                                                                                  1
Length: 481, dtype: int64

In [115]:
df_all[df_all.is_rt == False].message.nunique()

1582

In [127]:
originals = df_all[df_all.is_rt == False]

dups = originals[originals.message.duplicated()]

dups[dups.author == "hotdrugs225"]

,type,author,message,latitude,longitude,location,date,is_rt,og_author,og_message
389,mbdata,hotdrugs225,Easy credit cards! get what you're worth! easy...,NaN,NaN,NaN,2014-01-23 17:27:11,False,None,None
1502,mbdata,hotdrugs225,How's your credit rating? Need a boost? fixit....,NaN,NaN,NaN,2014-01-23 18:54:07,False,None,None
1699,mbdata,hotdrugs225,I trust this goodstuff.kronos/links #abilasFinest,NaN,NaN,NaN,2014-01-23 19:05:17,False,None,None
2123,mbdata,hotdrugs225,Hi! I advise you to visit this link hottips.kr...,NaN,NaN,NaN,2014-01-23 19:32:41,False,None,None
3881,mbdata,hotdrugs225,discount drugs with no prescription required ...,NaN,NaN,NaN,2014-01-23 21:20:08,False,None,None

In [121]:
df_all[df_all.author == "hotdrugs225"]

,type,author,message,latitude,longitude,location,date,is_rt,og_author,og_message
389,mbdata,hotdrugs225,Easy credit cards! get what you're worth! easy...,NaN,NaN,NaN,2014-01-23 17:27:11,False,None,None
1502,mbdata,hotdrugs225,How's your credit rating? Need a boost? fixit....,NaN,NaN,NaN,2014-01-23 18:54:07,False,None,None
1699,mbdata,hotdrugs225,I trust this goodstuff.kronos/links #abilasFinest,NaN,NaN,NaN,2014-01-23 19:05:17,False,None,None
2123,mbdata,hotdrugs225,Hi! I advise you to visit this link hottips.kr...,NaN,NaN,NaN,2014-01-23 19:32:41,False,None,None
3881,mbdata,hotdrugs225,discount drugs with no prescription required ...,NaN,NaN,NaN,2014-01-23 21:20:08,False,None,None

In [133]:
banned_authors = ["KronosQuoth"]

In [143]:
test_df = pd.DataFrame({"x": ["A", "A", "B", "C"]})

test_df[(test_df["x"] == "A") & (test_df["x"] == "B")]

Empty DataFrame
Columns: [x]
Index: []

In [144]:
df_all[
    df_all.message.duplicated()
    & ~df_all.message.str.startswith("RT")
    & ~df_all.author.isin(banned_authors)
    & (df_all["type"] != "ccdata")
]

,type,author,message,latitude,longitude,location,date,is_rt,og_author,og_message
108,mbdata,Clevvah4Evah,GAStech said they would give me a bonus! #POK ...,NaN,NaN,NaN,2014-01-23 17:10:02,False,None,None
165,mbdata,Clevvah4Evah,You got low self coincidence #POK #Rally #Grammar,NaN,NaN,NaN,2014-01-23 17:14:25,False,None,None
215,mbdata,Clevvah4Evah,What's the diff between would of and would've?...,NaN,NaN,NaN,2014-01-23 17:16:52,False,None,None
259,mbdata,Clevvah4Evah,I want a job 80% mental 30% fiscal #POK #Rally...,NaN,NaN,NaN,2014-01-23 17:19:31,False,None,None
358,mbdata,Clevvah4Evah,My hand hurts I think I have carpet tunnel #PO...,NaN,NaN,NaN,2014-01-23 17:25:51,False,None,None
...,...,...,...,...,...,...,...,...,...,...
3873,mbdata,Clevvah4Evah,Your spelling and grammer are atrotious #POK #...,NaN,NaN,NaN,2014-01-23 21:19:25,False,None,None
3881,mbdata,hotdrugs225,discount drugs with no prescription required ...,NaN,NaN,NaN,2014-01-23 21:20:08,False,None,None
3929,mbdata,eazymoney,discount drugs with no prescription required ...,NaN,NaN,NaN,2014-01-23 21:22:41,False,None,None
4003,mbdata,Clevvah4Evah,My hand hurts I think I have carpet tunnel #PO...,NaN,NaN,NaN,2014-01-23 21:26:48,False,None,None
4020,mbdata,reggierockin776,I trust this goodstuff.kronos/links #abilasFinest,NaN,NaN,NaN,2014-01-23 21:28:08,False,None,None

In [138]:
pd.set_option("display.max_rows", 50)